.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px
}

.space {
    padding: 20px;
}


.movie {
    padding: 5px;
    border: 5px solid #6DB9EE;
    margin: 10px;
    text-align: center;
    background-color: wheat;
    width: 50%;
    margin: 0 auto;
}
