.display {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie{
    padding: 5px;
    border: 5px solid #6DB9EE;
    margin: 10px;

}

