@import url('https://fonts.googleapis.com/css?family=Limelight&display=swap');


.title {
    margin-top: 150px;
    font-size: 50px;
    font-family: 'Limelight', cursive;
}

.image {
    height: 300px;
    width: auto;
}

.heading {
    display: flex;
}

.options {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: 'Limelight', cursive;

}
