.button {
    padding: .5rem;
    border: 1px solid #2F79AD;
    margin-top: 20px;
    border-radius: 4px;
    background-color: #6DB9EE;
    color: white;
    font-size: 12px;

}

.buttons {
    display: flex;
    justify-content: space-around;
}

.display {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie{
    padding: 5px;
    border: 5px solid #6DB9EE;
    margin: 10px;

}

